# Data Description
- Background: 流失資料集的測試檔案包含 64,374 筆客戶紀錄，作為一個獨立的資料集，用來評估已訓練完成的客戶流失預測模型在效能與泛化能力上的表現。內含有訓練集與測試集。
- date received: 20260112
- Path to data : https://www.kaggle.com/datasets/muhammadshahidazeem/customer-churn-dataset?utm_source=chatgpt.com
- Unit of observation: 每一筆紀錄都對應一位客戶，並且包含與訓練檔案相同的一組特徵。
- Sample period: 依資料內容顯示涵蓋 2013 年至 2019 年（不同動物的進所月份略有差異）。
- Known issues:
  - Gender、Subscription Type、Contract Length 為文字類別欄位，需轉換為數值編碼後才能用於模型訓練。
  - Last Interaction、Payment Delay、Support Calls 可能存在極端值（outliers），需檢查並進行適當處理。
  - Total Spend、Usage Frequency、Tenure 尺度差異大，建模前應進行標準化（scaling）。
  - Churn 為目標變數（標籤），需確認其編碼方式（例如 0/1 或 Yes/No）。

- Definition for each variable:
  - CustomerID：客戶的唯一識別碼，用來區分不同客戶。
  - Age：客戶年齡（數值型）。
  - Gender：客戶性別（類別型，Male、Female）。
  - Tenure：客戶與公司維持關係的時間長度（月）。
  - Usage Frequency：客戶使用服務的頻率（數值型），反映客戶活躍程度。
  - Support Calls：客戶在一定期間內聯絡客服的次數。
  - Payment Delay：客戶付款延遲的次數或天數。
  - Subscription Type：客戶的訂閱方案類型（類別型，例如 Basic、Standard、Premium）。
  - Contract Length：客戶的合約長度（例如 Monthly、Yearly），表示與公司的綁定程度。
  - Total Spend：客戶累積消費金額（數值型），代表客戶價值。
  - Last Interaction：距離客戶最近一次與公司互動的時間（例如天數）。
  - Churn：是否流失的標籤（目標變數，1 = 流失，0 = 未流失）。

In [28]:
import pandas as pd

# Change for Your Own Data

In [29]:
input_data_file = "/Users/chengxianghuang/Downloads/archive-3/customer_churn_dataset-training-master.csv"

# Summary

In [30]:
df = pd.read_csv(input_data_file)

# Sample

In [31]:
df.head(10)

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0
5,8.0,51.0,Male,33.0,25.0,9.0,26.0,Premium,Annual,129.0,8.0,1.0
6,9.0,58.0,Female,49.0,12.0,3.0,16.0,Standard,Quarterly,821.0,24.0,1.0
7,10.0,55.0,Female,37.0,8.0,4.0,15.0,Premium,Annual,445.0,30.0,1.0
8,11.0,39.0,Male,12.0,5.0,7.0,4.0,Standard,Quarterly,969.0,13.0,1.0
9,12.0,64.0,Female,3.0,25.0,2.0,11.0,Standard,Quarterly,415.0,29.0,1.0

# Summary Stats

In [32]:
df.describe()

,CustomerID,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Churn
count,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000
mean,225398.667955,39.373153,31.256336,15.807494,3.604437,12.965722,631.616223,14.480868,0.567107
std,129531.918550,12.442369,17.255727,8.586242,3.070218,8.258063,240.803001,8.596208,0.495477
min,2.000000,18.000000,1.000000,1.000000,0.000000,0.000000,100.000000,1.000000,0.000000
25%,113621.750000,29.000000,16.000000,9.000000,1.000000,6.000000,480.000000,7.000000,0.000000
50%,226125.500000,39.000000,32.000000,16.000000,3.000000,12.000000,661.000000,14.000000,1.000000
75%,337739.250000,48.000000,46.000000,23.000000,6.000000,19.000000,830.000000,22.000000,1.000000
max,449999.000000,65.000000,60.000000,30.000000,10.000000,30.000000,1000.000000,30.000000,1.000000